.example-spacer {
    flex: 1 1 auto;
  }

  .navbar-custom{
    background-image: url(../../../assets/bg-header.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #004688c9;
  }

  a{
    color: white;
  }

  .navbar-nav{
    width: 100%;
  }
