<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo-default.png" width="108" height="38" class="d-inline-block align-top" alt="">
    </a>
    <span id="textCentral" class="navbar-text">
        Central Migrante
    </span>

    <form [formGroup]="form">
      <select class="form-select" formControlName="countryControl" (change)="onChange($event.target)">
        <option value=null selected>select...</option>
        <option value="pt" >Português</option>
        <option value="en">English</option>
        <option value="es">Español</option>
      </select>
    </form>
  </nav>
