<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/imgHeader.png" width="108" height="38" class="d-inline-block align-top" alt="">
    </a>
    <span id="textCentral" class="navbar-text">
        Central Migrante
    </span>
    <div class="language">
        <div class="language-selected">
            PT-BR
        </div>
        <ul>
            <li><a href="#" class="br">Português</a></li> 
            <li><a href="#" class="en">English</a></li> 
            <li><a href="#" class="es">Español</a></li> 
        </ul>
    </div>
  </nav>