<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/imgHeader.png" width="108" height="38" class="d-inline-block align-top" alt="">
    </a>
    <span id="textCentral" class="navbar-text">
        Central Migrante
    </span>
    <div class="language">
        <div class="language-selected">
            PT-BR
        </div>
        <ul>
            <li><a href="#" class="br">Português</a></li>
            <li><a href="#" class="en">English</a></li>
            <li><a href="#" class="es">Español</a></li>
        </ul>
    </div>

    <form [formGroup]="form">
      <select formControlName="countryControl" (change)="onChange($event.target)">
        <option value=null selected>select...</option>
        <option value="pt-BR" >Português</option>
        <option value="en-US">English</option>
        <option value="es-ES">Español</option>
      </select>
    </form>
  </nav>
