

  <div class="box-login row col-8">

    <div class="col mt-4 mb-4 ml-3">
      <div class="text-center">
        <h1 class="mt-1 mb-5 pb-1 text-white">Bem vindo</h1>
      </div>
      <!-- Email input -->
      <div class="form-outline mb-4 text-white">
        <span>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
        </span>
      </div>
    </div>

    <form class="form-login col mt-4 mb-4 mr-3">
      <div class="text-center">
        <h1 class="mt-1 mb-5 pb-1">Login</h1>
      </div>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>

      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Não tem registro? <a href="#!">Registre-se</a></p>
      </div>
    </form>
  </div>


