.form-login{
  background-color: #F2F2F2;
  border-radius: 25px;
  text-align: center;
  width: 100%;
}

.box-login{
  background-color: rgb(27, 54, 95);
  border-radius: 20px;
  margin: auto;
}

.form-outline{
  align-items: center;
}

text{
  color: white;
}

#loginText{
  font-family: 'Alef', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

#linkButton{
  text-decoration: none;
}

#form2Example1{
  display: inline-block;
  width: 80%;
  height: 42px;
  border-radius: 35px;
}

#form2Example2{
  display: inline-block;
  align-self: center;
  width: 80%;
  height: 42px;
  border-radius: 35px;
}

#entryButton{
  width: 45%;
  border-radius: 65px;
  margin-bottom: 2%;
}
