<div id="footerId">
    <nav class="navbar navbar-expand-lg navbar-custom"></nav>
    <div class="row my-2">
        <div id="logoFooter" class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <div class="d-flex mb-4 mx-auto" style="width: 120px; height: 120px;">
                <img class="img-responsive" src="../../../assets/logoFooter.png" height="120" alt="" />
            </div>
        </div>

        <div class="col-md-4 col-md-2 align-items-center ">
            <h5 id="titleFooterText">Prefeitura de Joinville</h5>

            <span itemscope="" itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">Av. Hermann August Lepper, 10, Saguaçu</span>
                    <br>
                <span itemprop="postalCode">89221-005</span> 
                • <span itemprop="addressLoclity">Joinville</span> • 
                <span itemprop="addressRegion">SC - </span>
                <span itemprop="telephone">(47) 3431-3233</span>
            </span>

            <ul class="list-unstyled d-flex flex-row justify-content-center">
                <li>
                    <a href="#!">
                        <i class="fa-brands fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="fa-brands fa-instagram-square"></i>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div id="services" class="col-lg-3 col-md-6 mb-4  ">
            <ul class="list-unstyled">
                <li class="mb-2">
                    <a id="services" href="https://www.joinville.sc.gov.br/servicos/registrar-manifestacao-a-ouvidoria/">Relatar problemas</a>
                </li>
                <li class="mb-2">
                    <a id="services" href="https://www.joinville.sc.gov.br/servicos/">Serviços</a>
                </li>
                <li class="mb-2">
                    <a id="services" href="https://www.joinville.sc.gov.br/?post_type=institucional&s=">Unidades</a>
                </li>
                <li class="mb-2">
                    <a id="services" href="https://www.joinville.sc.gov.br/?post_type=publicacao&s=">Publicações</a>
                </li>
                <li class="mb-2">
                    <a id="services" href="https://www.joinville.sc.gov.br/?post_type=evento&s=">Eventos</a>
                </li>
            </ul>
        </div>
    </div>
</div>