<h1 class="text-center mt-4">Novo Cadastro</h1>
<form class="needs-validation" novalidate [formGroup]="form">
  <div class="form-group">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" formControlName="nome"
        [ngClass]="{'is-invalid': submitted && hasError('nome')}">
      <div *ngIf="hasError('nome')" class="invalid-feedback">
        <div *ngIf="hasError('nome')?.['required']">
          Nome não pode ser vazio
        </div>
        <div *ngIf="hasError('nome')?.['minlength']">
          No mínimo 3 caracteres
        </div>
        <div *ngIf="hasError('nome')?.['maxlength']">
          No Máximo 250 caracteres
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="user" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="user" formControlName="user"
        [ngClass]="{'is-invalid': submitted && hasError('user')}">
      <div *ngIf="hasError('user')" class="invalid-feedback">
        <div *ngIf="hasError('user')?.['required']">
          Usuario não pode ser vazio
        </div>
        <div *ngIf="hasError('user')?.['minlength']">
          No mínimo 3 caracteres
        </div>
        <div *ngIf="hasError('user')?.['maxlength']">
          No Máximo 25 caracteres
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email"
        [ngClass]="{'is-invalid': submitted && hasError('email')}">
      <div *ngIf="hasError('email')" class="invalid-feedback">
        <div *ngIf="hasError('email')?.['required']">
          Não pode ser vazio
        </div>
        <div *ngIf="hasError('email')">
          Email invalido
        </div>
      </div>
      <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small>
    </div>

    <div class="row mb-3">
      <div class="col-lg-6 col-md-12 mb-3">
        <label>Password</label>
        <input type="password" formControlName="senha" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && hasError('senha') }" />
        <div *ngIf="submitted && hasError('senha')" class="invalid-feedback">
          <div *ngIf="hasError('senha')?.['required']">Senha requerida</div>
          <div *ngIf="hasError('senha')?.['minlength']">Senha deve conter ao menos 6 caracteres</div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-3">
        <label>Confirmar senha</label>
        <input type="password" formControlName="confirmaSenha" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && hasError('confirmaSenha') }" />
        <div *ngIf="submitted && hasError('confirmaSenha')" class="invalid-feedback">
          <div *ngIf="hasError('confirmaSenha')?.['required']">Confirmação da senha é requerida</div>
          <div *ngIf="hasError('confirmaSenha')?.['mustMatch']">As senhas devem ser iguais</div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <button class="btn btn-primary btn-block col-12" type="submit" (click)="onSubmit()">Salvar</button>
    </div>

  </div>

</form>
