<h1>Listagem de Usuários</h1>

<mat-form-field>
  <mat-label>Filtrar</mat-label>
  <input matInput name="filter" placeholder="Ex. Jose" type="text" value="" (keyup)="applyFilter($event)">
</mat-form-field>

<div>
  <table mat-table [dataSource]="this.dataSource" class="col-lg-12" matSort>
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nome">Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="email">Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Idioma</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onView(row.id)">
            <mat-icon>account_box</mat-icon>
            <span>Visualizar</span>
          </button>
          <button mat-menu-item (click)="onEdit(row.id)">
            <mat-icon>border_color</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>delete_forever</mat-icon>
            <span>Excluir</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [length]="usuarios.length"
                 [pageSize]="5"
                 [pageSizeOptions]="[1, 5, 10, 25, 100, 500]"
                 aria-label="Select page">
  </mat-paginator>

</div>
