<h1 class="text-center mt-4">Editar Cadastro</h1>

  <mat-horizontal-stepper [labelPosition]="'bottom'"  [@.disabled]="true" #stepper linear>

    <mat-step label="Usuario" [stepControl]="form" >
      <form class="needs-validation" [formGroup]="form">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
              <label for="nome" class="form-label">{{ 'user.name' | translate }}</label>
              <input type="text" class="form-control" id="nome" formControlName="nome"
                    [ngClass]="{'is-invalid': submitted && hasError('nome')}">
              <mat-error *ngIf="hasError('nome')" class="invalid-feedback">
                <mat-error *ngIf="hasError('nome')?.['required']">
                  Nome não pode ser vazio
                </mat-error>
                <mat-error *ngIf="hasError('nome')?.['minlength']">
                  No mínimo 3 caracteres
                </mat-error>
                <mat-error *ngIf="hasError('nome')?.['maxlength']">
                  No Máximo 250 caracteres
                </mat-error>
              </mat-error>
            </div>

            <div class="col-lg-6 col-md-12 mb-3">
              <label for="user" class="form-label">{{ 'user.user' | translate }}</label>
              <input type="text" class="form-control" id="user" formControlName="user"
                    [ngClass]="{'is-invalid': submitted && hasError('user')}">
              <div *ngIf="hasError('user')" class="invalid-feedback">
                <div *ngIf="hasError('user')?.['required']">
                  Usuario não pode ser vazio
                </div>
                <div *ngIf="hasError('user')?.['minlength']">
                  No mínimo 3 caracteres
                </div>
                <div *ngIf="hasError('user')?.['maxlength']">
                  No Máximo 25 caracteres
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">{{ 'user.email' | translate }}</label>
            <input type="email" class="form-control" id="email" formControlName="email"
                  [ngClass]="{'is-invalid': submitted && hasError('email')}">
            <mat-error *ngIf="hasError('email')" class="invalid-feedback">
              <mat-error *ngIf="hasError('email')?.['required']">
                Não pode ser vazio
              </mat-error>
              <mat-error *ngIf="hasError('email')">
                Email invalido
              </mat-error>
            </mat-error>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6 col-md-12 mb-3">
              <label>{{ 'user.pass' | translate }}</label>
              <input type="password" formControlName="senha" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && hasError('senha') }"/>
              <div *ngIf="submitted && hasError('senha')" class="invalid-feedback">
                <div *ngIf="hasError('senha')?.['required']">Password is required</div>
                <div *ngIf="hasError('senha')?.['minlength']">Password must be at least 6 characters</div>
              </div>
              <small id="passwordHelp" class="form-text text-muted">Deixe em branco caso não queira alterá-la.</small>
            </div>

            <div class="col-lg-6 col-md-12 mb-3">
              <label>{{ 'user.confirmpass' | translate }}</label>
              <input type="password" formControlName="confirmaSenha" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && hasError('confirmaSenha') }"/>
              <mat-error *ngIf="submitted && hasError('confirmaSenha')" class="invalid-feedback">
                <mat-error *ngIf="hasError('confirmaSenha')?.['required']">Confirm Password is required</mat-error>
                <mat-error *ngIf="hasError('confirmaSenha')?.['mustMatch']">Passwords must match</mat-error>
              </mat-error>
              <small id="passwordHelp" class="form-text text-muted">Deixe em branco caso não queira alterá-la.</small>
            </div>
          </div>

          <div class="mt-4 text-center" *ngIf="!isView; else elseBlock">
            <button matStepperNext class="btn btn-primary col-12" type="submit" (click)="onSubmit()">
              {{ 'edituser.savecontinue' | translate }}
            </button>
            <button class="mt-3 btn btn-outline-dark col-12" type="submit" (click)="onCancel()">
              {{ 'edituser.cancel' | translate }}
            </button>
          </div>
          <ng-template #elseBlock>
            <button matStepperNext
            class="btn btn-primary col-12"
            type="submit">
              {{ 'edituser.continue' | translate }}
            </button>
          </ng-template>
        </div>
      </form>
    </mat-step>


    <mat-step label="Dados1">
      <form class="needs-validation" novalidate [formGroup]="form">
        <div class="row mb-3 mt-4">
          <div class="col-lg-6 col-md-12 mb-3">
            <label>{{ 'edituser.statecrossborder' | translate }}</label>
            <select class="form-select" formControlName="estadoOndeAtravessouFronteira">
              <option value=null>{{ 'edituser.select' | translate }}</option>
              <option *ngFor="let item of estados" [value]="item">
                {{ item }}
              </option>
            </select>

          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>CRNM</label>
            <input type="text" formControlName="crnm" class="form-control"/>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <mat-form-field appearance="fill">
              <mat-label>CRNM {{ 'edituser.crnmexpiration' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerCRNM" formControlName="crnmVencimento">
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="pickerCRNM"></mat-datepicker-toggle>
              <mat-datepicker #pickerCRNM></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.nacionality' | translate }}</label>
            <input type="text" formControlName="nacionalidade" class="form-control"/>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.citybirth' | translate }}</label>
            <input type="text" formControlName="cidadeNascimento" class="form-control"/>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.phone' | translate }}</label>
            <input type="text" formControlName="telefone" class="form-control"/>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>CPF</label>
            <input type="text" formControlName="cpf" class="form-control"/>
          </div>
          <div class="col-lg-3 col-md-12 mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Data de Nascimento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-12 mb-3">
            <label>{{ 'edituser.protocol' | translate }}</label>
            <input type="text" formControlName="protocoloSolicitacaoRefugio" class="form-control"/>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.passport' | translate }}</label>
            <input type="text" formControlName="passaporte" class="form-control"/>
          </div>

          <div class="mt-4 text-center" *ngIf="!isView; else elseBlock">
            <button matStepperNext class="btn btn-primary col-12" type="submit" (click)="onSubmit()">
              {{ 'edituser.savecontinue' | translate }}
            </button>
            <button class="mt-3 btn btn-outline-dark col-12" type="submit" (click)="onCancel()">
              {{ 'edituser.cancel' | translate }}
            </button>
          </div>
          <ng-template #elseBlock>
            <button matStepperNext
            class="btn btn-primary col-12"
            type="submit">
              {{ 'edituser.continue' | translate }}
            </button>
          </ng-template>
        </div>
      </form>

    </mat-step>

    <mat-step label="Dados2">
      <form class="needs-validation" novalidate [formGroup]="form">
        <div class="row mb-3 mt-4">
          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.bankacc' | translate }}</label>
            <select class="form-select" formControlName="hasContaBancariaNoBrasil">
              <option value=null>{{ 'edituser.select' | translate }}</option>
              <option value=true>Sim</option>
              <option value=false>Não</option>
            </select>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.lang' | translate }}</label>
            <input type="text" class="form-control" formControlName="idioma">
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.hasfamilybrasil' | translate }}</label>
            <select class="form-select" formControlName="hasFamiliaresNoBrasil">
              <option value=null>{{ 'edituser.select' | translate }}</option>
              <option value=true>Sim</option>
              <option value=false>Não</option>
            </select>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.entryway' | translate }}</label>
            <select class="form-select" formControlName="viaDeEntrada">
              <option value=null>{{ 'edituser.select' | translate }}</option>
              <option value="TERRESTRE">Terrestre</option>
              <option value="AEREO">Aéreo</option>
              <option value="MARITIMO">Marítimo</option>
            </select>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.gender' | translate }}</label>
            <select class="form-select" formControlName="genero">
              <option value=null>{{ 'edituser.select' | translate }}</option>
              <option value="PREFIRO_NAO_DIZER">Prefiro Não Dizer</option>
              <option value="MASCULINO">Masculino</option>
              <option value="FEMININO">Feminino</option>
              <option value="TRANS">Transgênero</option>
              <option value="OUTRO">Outro</option>
            </select>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.color' | translate }}</label>
            <select class="form-select" formControlName="corRaca">
              <option value=null>{{ 'edituser.select' | translate }}</option>
              <option value="AMARELA">Amarela</option>
              <option value="BRANCA">Branca</option>
              <option value="INDIGENA">Indígena</option>
              <option value="PARDA">Parda</option>
              <option value="PRETA">Preta</option>
            </select>
          </div>

        </div>

        <fieldset>
          <legend>{{ 'edituser.schooling' | translate }}</legend>

        </fieldset>
        <div class="row mb-3 mt-4">

          <div class="col-lg-3 col-md-3 mb-3">
            <label class="control-label">{{ 'edituser.noschooling' | translate }}</label>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" id="inlineRadio00" value=true
                     formControlName="hasEscolaridade" (click)="onSemEscolaridade()">
              <label class="form-check-label">{{ 'edituser.noschooling' | translate }}</label>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 mb-3">
            <label class="control-label">{{ 'edituser.elementary' | translate }}</label>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" id="inlineRadio2" value=false
                     formControlName="hasEnsinoFundamental" (click)="onComEscolaridade()">
              <label class="form-check-label">{{ 'edituser.incomplete' | translate }}</label>
            </div>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" id="inlineRadio1" value=true
                     formControlName="hasEnsinoFundamental" (click)="onComEscolaridade()">
              <label class="form-check-label">{{ 'edituser.complete' | translate }}</label>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 mb-3">
            <label class="control-label">{{ 'edituser.highschool' | translate }}</label>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" id="inlineRadio4" value=false formControlName="hasEnsinoMedio" (click)="onComEscolaridade()">
              <label class="form-check-label">{{ 'edituser.incomplete' | translate }}</label>
            </div>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" id="inlineRadio3" value=true formControlName="hasEnsinoMedio" (click)="onComEscolaridade()">
              <label class="form-check-label">{{ 'edituser.complete' | translate }}</label>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 mb-3">
            <label class="control-label">{{ 'edituser.college' | translate }}</label>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" id="inlineRadio6" value=false
                     formControlName="hasEnsinoSuperior" (click)="onComEscolaridade()">
              <label class="form-check-label">{{ 'edituser.incomplete' | translate }}</label>
            </div>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" id="inlineRadio5" value=true
                     formControlName="hasEnsinoSuperior" (click)="onComEscolaridade()">
              <label class="form-check-label">{{ 'edituser.complete' | translate }}</label>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 mb-3">
            <label class="control-label">{{ 'edituser.graduate' | translate }}</label>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" id="inlineRadio8" value=false
                     formControlName="hasPosGraduacao" (click)="onComEscolaridade()">
              <label class="form-check-label">{{ 'edituser.incomplete' | translate }}</label>
            </div>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" id="inlineRadio7" value=true formControlName="hasPosGraduacao" (click)="onComEscolaridade()">
              <label class="form-check-label">{{ 'edituser.complete' | translate }}</label>
            </div>
          </div>

          <div class="mt-4 text-center" *ngIf="!isView; else elseBlock">
            <button matStepperNext class="btn btn-primary col-12" type="submit" (click)="onSubmit()">
              {{ 'edituser.savecontinue' | translate }}
            </button>
            <button class="mt-3 btn btn-outline-dark col-12" type="submit" (click)="onCancel()">
              {{ 'edituser.cancel' | translate }}
            </button>
          </div>
          <ng-template #elseBlock>
            <button matStepperNext
            class="btn btn-primary col-12"
            type="submit">
              {{ 'edituser.continue' | translate }}
            </button>
          </ng-template>
        </div>
      </form>
    </mat-step>


    <mat-step label="Endereço">
      <form class="needs-validation" novalidate [formGroup]="form">
        <div class="row mb-3">
          <div class="col-lg-6 col-md-12 mb-3">
            <label>{{ 'edituser.state' | translate }}</label>
            <input type="text" formControlName="estado" class="form-control"/>
          </div>

          <div class="col-lg-6 col-md-12 mb-3">
            <label>{{ 'edituser.city' | translate }}</label>
            <input type="text" formControlName="cidade" class="form-control"/>
          </div>

          <div class="col-lg-6 col-md-12 mb-3">
            <label>{{ 'edituser.street' | translate }}</label>
            <input type="text" formControlName="rua" class="form-control"/>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.number' | translate }}</label>
            <input type="text" formControlName="numero" class="form-control"/>
          </div>

          <div class="col-lg-3 col-md-12 mb-3">
            <label>{{ 'edituser.postalcode' | translate }}</label>
            <input type="text" formControlName="cep" class="form-control"/>
          </div>

          <div class="mt-4 text-center" *ngIf="!isView; else elseBlockEnd">
            <button class="btn btn-primary col-12" type="submit" (click)="onSubmitFinal()">
              {{ 'edituser.save' | translate }}
            </button>
            <button class="mt-3 btn btn-outline-dark col-12" type="submit" (click)="onCancel()">
              {{ 'edituser.cancel' | translate }}
            </button>
          </div>
          <ng-template #elseBlockEnd>
            <button matStepperNext
            class="btn btn-outline-dark col-12"
            type="submit"
            (click)="onCancel()">
              Cancelar
            </button>
          </ng-template>
        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
